body {
    font-family: 'Cardo', serif;
    text-align: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.hdr_back {
    background-color: #000000;
    margin-bottom: 30px;
    width: 80%;
    display: inline-block;
}

.row {
    margin-bottom: 200px;
    text-align: center;
}

.item {
    position: relative;
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
}

#image0, #image1, #image2, #image3, #image4 {
    width: 90%;
    height: 150px;
}

.large_image {
    width: 100%;
    background-color: #FFFFFF;
    height: auto;
    display: inline-block;
}

#large0 {
    width: 50%;
}

#info0, #info1, #info2, #info3, #info4 {
    position: absolute;
    top: -10%;
    bottom: -6.5%;
    right: 5%;
    left: 5%;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);;
}
